@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;
	background:#000000;
}

body{
	margin:0 auto;
	width:1000px;
	background:#FFF;
}

.top{
	margin:0 auto;
	width:1000px;
	height:100px;
	background-color:#CFC;
	font-family:微软雅黑;
	font-size:54px;
}
	
