@charset "utf-8";
/* CSS Document */

*{
	margin:0 auto;
	padding:0 auto;
}
body{
	background-image:url(../cloth2.jpg);
}

.littlebody
{	
	height:800px;
	margin-left:200px;
	margin-right:200px;
	border:2px solid #CCC;	
	background-color: rgba(19,19,19, 0.6);
	font-size:36px;
	font-family:微软雅黑;
	color:#FFF;
	
}
.top
{
	margin:1.5px;
	border:1px solid #CCC;
	height:100px;
	background:url(night%20stars.jpg);
	background-color: rgba(19,19,19,  0.6);
	border-radius:3px;
	font-size:36px;
	font-family:微软雅黑;
	color:#FFF;
	line-height:20px;
	text-align:center;
	
	
}

.add
{
	float:left;
	font-size:36px;
	font-family:微软雅黑;
	color:#FFF;
	margin-left:320px;
	margin-top:30px;
}

.content{
	width:300px;
	height:350px;
	border:4px solid #999;
	border-radius:10px;
	margin-top:70px;
	margin-left:200px;
	background:#FFF;
}

.inner
{
	padding:0px;
	list-style-type:none;
	margin-left:20px;
	padding:20px;
}

.inner  li
{
	font-size:16px;
	margin-top:20px;
	color:#000;
	border-radius:10px;
}
.inner li input
{
	border-radius:10px;
}
	


	
